<!DOCTYPE html>
<html lang="pt-br">
<head>
    
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/theme.css">
    <link rel="stylesheet" href="./css/blog.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="./css/bootstrap.min.css" rel="stylesheet">
        
    <meta nome="viewport" content="width=device-width, initial-scale=1.0, maximun-scale1.0">
    <meta charset="UTF-8">
    <html lang="pt-br">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Parceiros</title>
</head>

<body>

<%- include('./partials/header')%>

    <main>

        <div class="titulo">
            <h1>Conheça alguns de nossos parceiros e torne-se você um também!</h1>
            <button class="botao-news">Quero assinar!</button>
        </div>
        
        <div class="destaques">
        <h2>Assuntos em destaques</h2>
        </div>

        <div class="destaque-1">
            <img src="./img/foto-band.jpg" alt="#">
            <h3>Banda Minerva</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore...</p>
            <button>Continue lendo...</button>
        </div>
      
        <div class="destaque-2">
            <img src="./img/ALL_THE_HALLOWEEN_BANNER_HP.gif" alt="#">
        </div>

        <div class="destaque-3">
            <img src="./img/foto-drink.jpg" alt="#">
            <h3>Drinks</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore...</p>
            <button>Continue lendo...</button>
        </div>

        <div class="destaque-4">
            <img src="./img/foto-dicas.jpg" alt="#">
            <h3>Dicas</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore...</p>
            <button>Continue lendo...</button>
        </div>

        <div class="destaque-5">
            <img src="./img/foto-pub.jpg" alt="#">
            <h3>Melhores bares de São Paulo</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore...</p>
            <button>Continue lendo...</button>
        </div>

        <div class="seta-ver-todos">
        <div>
            <p>Ver todos<img src="./img/seta-pink.svg" alt="#"></p>
        </div>
         </div>

    </main>

<%- include('./partials/footer')%>

</body>
</html>