<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/como-funciona.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <title>Como Funciona</title>
</head>

<body>
<%- include('./partials/header')%>

    <main>

        <div class="titulo">
        <h1>Veja como é fácil fazer parte</h1></div>

        <section class="cadastro-1">
            <div>
            <h2>1º Cadastro</h2>
            <p>Acesse a nossa plataforma e realize o seu cadastro de forma rápida e fácil, sendo você um estabelecimento ou um musicista.</p></div>
            <div><img src="./img/primeira-etapa.svg" alt=""></div>
        </section>

        <section class="cadastro-2">
            <div>
            <h2>2º Criando o seu perfil</h2>
            <p>Crie o seu perfil com todas as informações importantes para que você possa encontrar o melhor evento e musicistas da sua região. 
                Não se esqueça de completas com fotos e vídeos.</p></div>
            <div><img src="./img/segunda-etapa.svg" alt=""></div>
        </section>

        <section class="cadastro-3">
            <div>
            <h2>3º Gerenciando eventos</h2>
            <p>Para você que é estabelecimento, através da plataforma, poderá publicar, gerenciar e criar novos eventos, além de buscar os melhores musicistas de sua região.

                Para você que é musicista, poderá divulgar o seu trabalho, buscando estabelecimentos que tenham o mesmo estilo musical que o seu, buscar e agendar eventos.</p></div>
            <div><img src="./img/terceira-etapa.svg" alt=""></div>
        </section>

        <section class="cadastro-4">
            <div>
            <h2>Ainda ficou alguma dúvida?</h2>
            <p>Veja o vídeo ao lado e acompanhe o passo a passo.</p></div>
            <div><a href="https://youtu.be/ewZ_YWbIWXI"><img src="./img/play-video-jpg.png" alt=""></a></div>
        </section>

        <section>
            <div class="cadastro-5">
                <h2>Faça parte agora mesmo!</h2>
                <a href="/login-pop-up"><button>Quero fazer parte!</button></a>
            </div>
        </section>

    </main>
<%- include('./partials/footer')%>
</body>
</html>