<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login-estabelecimento.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <title>Login</title>
</head>

<body>
 
<%- include('./partials/header')%>

    <main>
        <div class="banner">Cadastro Estabelecimento</div>
        <div class="formularios">
        <div class="parceiro">
        <div><h2>Já sou músico parceiro</h2></div>
            <div>
                <form action="/estabelecimento/login" method="post" required>
                    <label>E-mail:</label>
                    <input type="email" name="email" id="email" required>

                    <label>Digite sua senha</label>
                    <input type="password" name="senha" id="senha" required>
                
                <p>Esqueceu sua senha? <a href="#">Clique aqui</a></p>
                <button class="botao">Entrar!</button>
                </form>
            </div>
        </div>

        <div class="sou-novo">
        <div><h2>Sou novo por aqui e quero me tornar um parceiro</h2></div>
        <form 
        action="/estabelecimento/cadastrar" method="post" class="form-1">
            <label>Razão social:</label>
            <input type="text" name="razao_social" id="razao_social">

            <label>CNPJ:</label>
            <input type="number" name="cnpj" id="cnpj"> 

            <label>Nome fantasia:</label>
            <input type="text" name="nome_fantasia" id="nome_fantasia">

            <label class="sobre_esta">Fale um pouco sobre o seu estabelecimento:</label><br>
            <textarea class="caixa-texto" name="sobre_esta" id="sobre_esta" cols="30" rows="10" placeholder="   O meu estabelecimento..." required></textarea><br>

            <label>Foto de perfil:</label>
            <input type="file" name="foto" id="foto" required><br>

            <label>Email:</label>
            <input type="email" name="email" id="email" required>

            <label>Respansável pela casa:</label>
            <input type="text" name="responsavel" id="responsavel">

            <label>Telefone:</label>
            <input type="tel" name="tel" id="tel">

            <label>Site:</label>
            <input type="text" name="site" id="site">

            <label>Cidade:</label>
            <input type="text" name="cidade" id="cidade">

            <div class="estados">
                <label for="estados">Estado:</label><br>
                <select class="estado" name="estado" id="estado">
                    <option value="1">AC</option>
                    <option value="2">AL</option>
                    <option value="3">AP</option>
                    <option value="4">AM</option>
                    <option value="5">BA</option>
                    <option value="6">CE</option>
                    <option value="7">DF</option>
                    <option value="8">ES</option>
                    <option value="9">GO</option>
                    <option value="10">MA</option>
                    <option value="11">MT</option>
                    <option value="12">MS</option>
                    <option value="13">MG</option>
                    <option value="14">PA</option>
                    <option value="15">PB</option>
                    <option value="16">PR</option>
                    <option value="17">PE</option>
                    <option value="18">PI</option>
                    <option value="19">RJ</option>
                    <option value="20">RN</option>
                    <option value="21">RS</option>
                    <option value="22">RO</option>
                    <option value="23">RR</option>
                    <option value="25">SC</option>
                    <option value="26">SP</option>
                    <option value="27">SE</option>
                    <option value="28">TO</option>

                </select>
            </div>

            <label>Senha:</label>
            <input type="password" name="senha" id="senha">

            <button class="botao" type="submit">Salvar!</button>
            </form>
        </div>
        </div>


    </main>

<%- include('./partials/footer')%>
</body>
</html>