<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/parceiros.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <title>Parceiros</title>
</head>

<body>

<%- include('./partials/header')%>
 
    <main>
    <div class="titulo">
    <h1>Conheça alguns de nossos parceiros e torne-se você um também!</h1>
    <a href="/login-pop-up"><button class="botao-news">Quero fazer parte agora mesmo!</button></a>
    </div>  
        

        <div class="grid">
            <div>
            <img src="./img/01.png" alt="#">
            <h3>Fulano 1</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>

            <div>
                <img src="./img/02.png" alt="#">
                <h3>Fulano 1</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>

            <div>
                <img src="./img/03.png" alt="#">
                <h3>Fulano 1</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>

            <div>
                <img src="./img/04.png" alt="#">
                <h3>Fulano 1</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>

            <div>
                <img src="./img/05.png" alt="#">
                <h3>Fulano 1</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>

            <div>
                <img src="./img/01.png" alt="#">
                <h3>Fulano 1</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
            <div>
                <img src="./img/02.png" alt="#">
                <h3>Fulano 1</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>

            <div>
                <img src="./img/03.png" alt="#">
                <h3>Fulano 1</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>

            <div>
                <img src="./img/04.png" alt="#">
                <h3>Fulano 1</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>

            <div>
                <img src="./img/05.png" alt="#">
                <h3>Fulano 1</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
 
        </div>
        
        <div class="button">
            <a href="/login-pop-up"><button class="botao-fazer-parte">Quero fazer parte agora mesmo!</button></a>
        
        </div>
        
        <div class="cinco-motivos">
            <div>
                <h2>5 motivos para você fazer parte da TOCAQUI</h2>
            </div>

            <div>
                <ol>1º It is a long established fact that a reader will be distracted by the.</ol>
                <ol>2º It is a long established fact that a reader will be distracted by the.</ol>
                <ol>3º It is a long established fact that a reader will be distracted by the.</ol>
                <ol>4º It is a long established fact that a reader will be distracted by the.</ol>
                <ol>5º It is a long established fact that a reader will be distracted by the.</ol>
            </div>
        </div>

        <section class="campo-duvida">

            <h2 class="duvida">Ficou alguma dúvida?</h2>
            <p class="envie-uma-mensagem">Envie uma mensagem para nós:</p>

            <form class="form-2">

                <label>Nome:</label>
                <input type="text" name="nome" id="nome">

                <label>E-mail:</label>
                <input type="email" name="email" id="email">

                <label>Telefone:</label>
                <input type="tel" name="telefone" id="telefone">

                <label>Deixe uma mensagem:</label>
                <input type="text-2" name="mensagem" id="mensagem">

                <button class="botao-enviar">Enviar!</button>

            </form>
        </section>

        
    </main>

<%- include('./partials/footer')%>

</body>
</html>