<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/footer.css">
</head>

<body>
<footer class="footer-1">

    <div class="colum-1">
        <ol class="quem-somos">Quem somos</ol>
        <ol>A empresa</ol>
        <ol>Nossa história</ol>
        <ol>Na mídia</ol>
    </div>

    <div class="colum-2">
        <ol class="como-funciona">Como funciona</ol>
        <ol>Como cadastrar</ol>
        <ol>Como contratar</ol>
        <ol>Planos</ol>
    </div>

    <div class="colum-3">
        <ol class="links-uteis">Links úteis</ol>
        <ol>Política de privacidade</ol>
        <ol>Política de cookies</ol>
        <ol>Fale conosco</ol>
    </div>

    <div class="redes-sociais">
        <p>Siga a TOCAQUI nas redes sociais:</p>
        <img class="icone-facebook" src="/img/face.svg" alt="#">
        <img class="icone-insta" src="/img/insta.svg" alt="#">
        <img class="icone-twitter" src="/img/twitter.svg" alt="#">
        <img class="icone-linkedin" src="/img/linke.svg" alt="#">
        <img class="icone-youtube" src="/img/you.svg" alt="#">
    </div>
    
</footer>

<footer class="footer-2">
    <div class="logo-rodape"><img src="/img/logo-tocaqui-1-a.svg"></div>
    <div class="copyright">© TOCAQUI 2022. Todos os direitos reservados.</div>
</footer>
</body>
</html>