<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/header.css">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>

<header>

    <section class="body">
<nav>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
    </label>

    <label>
    <div class="logo">
        <a href="/home"><img src="/img/logo-tocaqui-1-a.svg" alt=""></a>
    </div>
    </label>
    <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/quem-somos">Quem somos</a></li>
        <li><a href="/como-funciona">Como funciona</a></li>
        <li><a href="/parceiros">Parceiros</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/login-musico "><button class="button-1">Sou músico</button></a></li>
        <li><a href="/login-estabelecimento"><button class="button-2">Sou estabelecimento</button></a></li>
    </ul>
</nav>
</section>
</header>
